<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanguageLearn.Client</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/LanguageLearn.Client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
